div {
  	width: 200px;
  	margin-bottom: 10px;
  	padding-top: 1px;
  	padding-bottom: 12px;
  	padding-left: 10px;
  	padding-right: 10px;
  	border: solid orange;
  	border-width: 2px;
  	text-align: left;

  
}